extends layout.pug

block content
    .about
      .bio
        h1 About
        p Faris Fazlić is a Full-Stack JavaScript Developer. 
          | Has experince with NodeJS and Express on backend,
          | Angular, Vue, Aurelia and React on frontend.
          | Relevant Experience of MongoDB Ionic and React Native.
          | Loves beautiful design and uses SASS to implement it.
      .skills
        h1 Skills
        ul
          li React
          li Redux
          li Angular2+
          li Vue
          li Aurelia
          li jQuery
          li Pug (Jade)
          li ES6
          li CSS3
          li HTML5
          li SASS
          li Webpack
          li NodeJS
          li Express
          li WebSockets
          li MongoDB
          li React Native
          li Ionic
