extends layout.pug

block content
    .about
      .bio
        h1 About
        p Faris Fazlić is a Full-Stack JavaScript Developer. 
          | Wrote his first line of code when he was 16 years old. 
          | Has experince with NodeJS and Express on backend,
          | Angular2+ and React on frontend.
          | Relevant Experience of MongoDB and React Native.
          | Loves beautiful design and uses SASS to implement it.
          | Currently pursuing B.Sc. in Software Engineering and is 20 years old.
      .skills
        h1 Skills
        ul
          li React
          li Redux
          li Angular2+
          li jQuery
          li Pug (Jade)
          li ES6
          li CSS3
          li HTML5
          li SASS
          li Webpack
          li NodeJS
          li Express
          li WebSockets
          li MongoDB
          li React Native
