extends layout.pug

block content
    h1.header About
    p.about Wrote his first line of code with 16 years. 
      | Has experince with NodeJS and Express on backend,
      | AngularJS, Angular2+ and React on frontend.
      | Relevant Experience with MongoDB and React Native.
      | Loves beautiful design and uses SASS to implement it.
      | Currently pursuing B.Sc. in Software Engineering, 20 years old.