extends layout.pug

block content
    h1.header About
    //- ul.list
    //-   li Wrote first line of code when 16 years old
    //-   li Has experince with NodeJS and Express on backend
    //-   li AngularJS, Angular2+ and React on frontend
    //-   li Relevant Experience with MongoDB and React Native
    //-   li Loves great design and uses SASS to implement it.
    //-   li Currently pursuing B.Sc. in Software Engineering, 20 years old.
    p.about Wrote first line of code when 16 years old. 
      | Has experince with NodeJS and Express on backend,
      | AngularJS, Angular2+ and React on frontend.
      | Relevant Experience with MongoDB and React Native.
      | Loves great design and uses SASS to implement it.
      | Currently pursuing B.Sc. in Software Engineering, 20 years old.