extends layout.pug

block content
    h1.header Contact Me
    .contact
        form.form(action='/form' method="post")
            input(type="text", name="name" placeholder="Don Joe")
            input(type="email", name="email" placeholder="example@mail.com")
            textarea(name="message", cols="30", rows="8" placeholder="Your message here...")
            input(type="submit", value="Send")
        .misc
            p Want to get in touch with me? Be it to request more info about myself or my experience, to ask for my resume, random questions about the universe and the meaning of life, just feel free to drop me a line anytime.	
            .icons
                a(href="https://github.com/wonez" target="_blank")
                    img(src="/img/github.png")
                a(href="https://codepen.io/wonez" target="_blank")
                    img(src="/img/codepen.png")
                a(href="mailto:ffazlic@yahoo.com" target="_blank")
                    img(src="/img/mail.png")
    if redirect
        script.
            setTimeout(() => window.location.pathname = '/', 1500);
        .thankYou 
            .msg Thank you for contacting me. I will get back to you soon.