extends layout.pug

block content
    //- h1.header Contact
    .contact
        //- h1 Contact Me
        .icons
            a(href="https://github.com/wonez" target="_blank")
                img(src="/img/github.png")
            a(href="mailto:ffazlic@yahoo.com")
                img(src="/img/mail.png")
            a(href="tel:+38762488589")
                img(src="/img/phone.png")
        .row
            p OR
        form
            .info
                input(type="name", name="name", placeholder="Don Joe")
                input(type="email", name="email", placeholder="example@mail.com")
            textarea(name="message", cols="30", rows="10" placeholder="Your message here...")
            input(type="submit", value="Send")