doctype html
html(lang='en')
    head
    meta(charset='utf-8')
    title ffazlic | Faris Fazlic
    link(href="/css/styles.css" rel="stylesheet")
body
    .container
        include ./nav
        .content
            block content
