.nav
    .items
        .avatar
        .links
            a.link(href="/projects" class= projects ? "active" : "") Projects
            a.link(href="/about" class= about ? "active" : "") About
            a.link(href="/contact" class= contact ? "active" : "") Contact