.about{
    display: flex;
    width: 100%;
    font-size: 2.2rem;
    line-height: 2.2;
    @media only screen and (max-width: 1600px){
        font-size: 2rem;
        line-height: 2;
    }
    &:hover{
        cursor: default;
    }
    h1{
        font-size: 5rem;
        margin-bottom: 3rem;
    }
    .bio{
        text-align: center;
        padding-right: 4rem;
        flex-basis: 55%;
        @media only screen and (max-width: 1600px){
            flex-basis: 50%;
        }
        p{
            color: $color-dark-2;
            font-size: inherit;
            line-height: inherit;
        }
    }

    .skills{
        text-align: center;
        font-size: inherit;
        color: $color-white;
        z-index: 1;
        flex-basis: 45%;
        @media only screen and (max-width: 1600px){
            flex-basis: 50%;
        }
        &::after{
            content: "";
            position: absolute;
            display: block;
            height: 100vh;
            width: calc(45% - 4rem);
            left: 55%;
            @media only screen and (max-width: 1600px){
                width: calc(50% - 4rem);
                left: 50%;
            }
            top: 0;
            z-index: -1;
            right: 0;
            background: $color-dark-1;
            border: .7rem solid $color-dark-2;
            border-top: none;
            border-bottom: none;
        }
        ul{
            list-style-type: none;
            column-count: 2;
        }
    }
}