.contact{
    font-size: 2.2rem;
    padding: 0 5rem;
    display: flex;
    @media only screen and (max-width: 1600px){
        font-size: 2rem;
        padding: 0;
    }
    @media only screen and (max-width: 1120px){
        flex-direction: column-reverse;
    } 
    justify-content: space-between;
    .form{
        display: block;
        flex-basis: 45%;
        @media only screen and (max-width: 1600px){
            flex-basis: 50%;
            padding-right: 2rem;
        }
        @media only screen and (max-width: 1120px){
            flex-basis: 50%;
            padding: 3rem 2rem;
        } 
        input, textarea{
            outline: none;
            font-size: inherit;
            border: none;
            padding: 1rem;
            resize: none;
            display: block;
            border-bottom: 1px solid $color-light-2;
            width: 100%;
            background: transparent;
            &:focus{
                border-color: $color-dark-1;
            }
            margin-bottom: 3rem;
        }
        input[type="submit"]{
            width: auto;
            color: white;
            background: $color-dark-2;
            margin: 0;
            border: none;
            padding: 1rem 4rem;
            &:hover{
                transition: 1s;
                color: $color-light-2;
                cursor: pointer;
                background: transparent;
            }
        }
    }
    .misc{
        font-size: inherit;
        display: flex;
        flex-direction: column;
        color: $color-dark-2;
        flex-basis: 45%;
        @media only screen and (max-width: 1600px){
            flex-basis: 50%;
            padding-left: 2rem;
        }
        @media only screen and (max-width: 1120px){
            flex-basis: 50%;
            padding: 3rem 2rem;
        } 
        p{
            line-height: 2.2;
            @media only screen and (max-width: 1600px){
                line-height: 2;
            }
        }
    }
    .icons{
        margin-top: auto;
        display: flex;
        @media only screen and (max-width: 1120px){
            justify-content: center;
            padding-top: 3rem;
        } 
        a{
            display: block;
            &:not(:last-child){
                margin-right: 3rem;
            }
        }
    }
}
.thankYou{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba($color-dark-1, .5);
    .msg{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2rem 3rem;
        background: white;
        color: $color-dark-1;
        border-radius: 1rem;
        font-size: 2.2rem;
    }
}