.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: .7rem solid $color-dark-2;
    .avatar{
        border-radius: 100%;
        width: 15rem;
        height: 15rem;
        border: .7rem solid $color-dark-2;
        background: url('/img/faris.png');
        background-position: center;
        background-size: cover;
        transform: rotate(-10deg);
        filter: grayscale(100%);
        &:hover{
            transition: 1s filter;
            filter: grayscale(0%);
        }
    }
    .links{
        padding: 5rem 0;
        width: 100%;
        .link{
            letter-spacing: .1rem;
            display: block;
            text-decoration: none;
            font-size: 2.4rem;
            padding: 2rem;
            width: 100%;
            color: $color-light-1;
            transition: 1s background;
            text-align: center;
            &:hover{
                background: $color-dark-2;
                color: white;
            }
        }
    }
}